/*
- [ ]  **Loader/Spinner:**
    - Minimalist loading spinner
*/
.loader {
    display: block;
    position: relative;
    width: 140px;
    height: 140px;
    background: var(--maincolor);
    transform: rotateX(65deg) rotate(45deg);
    /*remove bellows command for perspective change*/
    /*transform: perspective(200px) rotateX(65deg) rotate(45deg);*/
    color: #000000;
    animation: layers1 1s linear infinite alternate;
}

.loader:after {
    content: '';
    position: absolute;
    inset: 0;
    background: #000000;
    animation: layerTr 1s linear infinite alternate;
}

@keyframes layers1 {
    0% {
        box-shadow: 0px 0px 0 0px;
        /*transform: scale(1);*/
    }
    90%, 100% {
        box-shadow: 40px 40px 0 -4px;
        transform: translate(0, -80px) scale(1.4)
    }
}

@keyframes layerTr {
    0% {
        transform: translate(0, 0) scale(1)
    }
    100% {
        transform: translate(-40px, -40px) scale(1)
    }
}
