/*
- [ ]  **Modals:**
    - Basic modal
    - Modal with header
    - Modal with footer
    - Modal with actions
*/
:root {
    --modal-max-width: 1024px;
}

.modal-component-example {
    @apply my-4 border-2 border-solid rounded-2xl max-w-half shadow-xl;
    /*background: var(--mainbg);*/
    position: initial !important;
}

.modal {
    @apply my-4 mx-auto border-2 border-solid rounded-2xl max-w-half fixed __var_main_background_light dark:__var_main_background_dark;
    /*background: var(--mainbg);*/
    left: 0;
    right: 0;
    top: 50px;
    z-index: 1000;
    width: 95%;
    max-width: var(--modal-max-width);
}

.modal.hidden, .modal-component-example {
    z-index: 1 !important;
}

.modal .modal-header {
    @apply border-b-2 border-solid border-inherit rounded-t-2xl px-6 py-3;
}

.modal .modal-body {
    @apply mt-4 px-6 /*px-12*/ py-2 pb-6;
}

.modal-main {
    @apply modal border-main color-main shadow-2xl shadow-main;
}

.modal-main .modal-header {
    @apply bg-main color-white;
}

.modal-success {
    @apply modal border-success color-success shadow-2xl shadow-success;
}

.modal-success .modal-header {
    @apply bg-success color-white;
}

.modal-danger {
    @apply modal border-danger color-danger shadow-2xl shadow-danger;
}

.modal-danger .modal-header {
    @apply bg-danger color-white;
}

.modal-warning {
    @apply modal border-warning color-warning shadow-2xl shadow-warning;
}

.modal-warning .modal-header {
    @apply bg-warning color-white;
}

.modal-info {
    @apply modal border-info color-info shadow-2xl shadow-info;
}

.modal-info .modal-header {
    @apply bg-info color-white;
}

.modal-light {
    @apply modal border-light color-light shadow-2xl shadow-light;
}

.modal-light .modal-header {
    @apply bg-light color-white;
}

.modal-opposite {
    @apply modal border-opposite shadow-2xl shadow-opposite;
}

.modal-opposite .modal-header {
    @apply bg-opposite color-white dark:text-black;
}
