/*
- [ ]  **Tables:**
    - Basic table styling
    - Striped tables
    - Hoverable tables
    - Table with small cells
*/
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    @apply p-3 text-left;
}

.table {
    @apply border border-solid;
}

.table-borderless {
    border: none !important;
}

.table-borderless tr > td:last-child {
    @apply rounded-r-2xl;
}

.table-borderless tr > td:first-child {
    @apply rounded-l-2xl;
}

.table-borderless td, .table-borderless th {
    border: none !important;
}

.table-main {
    @apply table border-main;
}

.table-main td, .table-main th {
    @apply border border-solid border-main;
}

.table-main.table-hover tr:hover {
    @apply bg-danger dark:text-black;
}

.table-success {
    @apply table border-success;
}

.table-success td, .table-success th {
    @apply border border-solid border-success;
}

.table-success.table-hover tr:hover {
    @apply bg-green-300 dark:text-black;
}

.table-danger {
    @apply table border-danger;
}

.table-danger td, .table-danger th {
    @apply border border-solid border-danger;
}

.table-danger.table-hover tr:hover {
    @apply bg-red-300 dark:text-black;
}

.table-warning {
    @apply table border-warning;
}

.table-warning td, .table-warning th {
    @apply border border-solid border-warning;
}

.table-warning.table-hover tr:hover {
    @apply bg-yellow-300 dark:text-black;
}

.table-info {
    @apply table border-info;
}

.table-info td, .table-info th {
    @apply border border-solid border-info;
}

.table-info.table-hover tr:hover {
    @apply bg-blue-300 dark:text-black;
}

.table-light {
    @apply table border-light;
}

.table-light td, .table-light th {
    @apply border border-solid border-light;
}

.table-light.table-hover tr:hover {
    @apply bg-gray-300 dark:text-black;
}

.table-opposite {
    @apply table border-opposite;
}

.table-opposite td, .table-opposite th {
    @apply border border-solid border-opposite;
}

.table-opposite.table-hover tr:hover {
    @apply bg-gray-800 text-white dark:bg-gray-200 dark:text-black;
}

.table-strip-main tr:nth-child(even) {
    @apply bg-main dark:color-black;
}

.table-strip-success tr:nth-child(even) {
    @apply bg-green-200 dark:color-black;
}

.table-strip-danger tr:nth-child(even) {
    @apply bg-red-200 dark:color-black;
}

.table-strip-warning tr:nth-child(even) {
    @apply bg-yellow-200 dark:color-black;
}

.table-strip-info tr:nth-child(even) {
    @apply bg-blue-200 dark:color-black;
}

.table-strip-light tr:nth-child(even) {
    @apply bg-gray-200 dark:color-black;
}

.table-strip-opposite tr:nth-child(even) {
    @apply bg-opposite color-white dark:color-black;
}

/* Get rid of header hover */
.dark tbody tr:first-child:hover {
    background: transparent !important;
    color: #FFFFFF !important;
}
tbody tr:first-child:hover {
    background: transparent !important;
    color: #000000 !important;
}
