/*
- [🌐]  **Globals:**
    - Primary color
    - Secondary colors
    - Heading font
    - Base font
*/

html, body {
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
    @apply __var_main_background_light dark:__var_main_background_dark color-black dark:color-white;
}

main {
    max-width: 1920px;
    margin: 0 auto;
}
