@layer utilities {
    .max-w-half {
        width: 50%;
    }

    .hard-hidden {
        display: none !important;
    }

    ._container {
        max-width: 1920px;
        padding: 0 16px;
    }

    .max-w-form {
        max-width: var(--max-w-form);
    }

    .hard-shadow-none{
        box-shadow: none !important;
    }

    .vh100{
        height: calc(100vh - 80px);
    }
}
